body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emscripten {
  border: 0px none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#fullScreenButton {
  text-align: center;
  width: 100px;
  height: 20px;
  font-size: medium;
  background-color: #e55b49;
  padding: 10px;
}
